
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

@{ 
    var questions = ViewBag.questions;
    int count = 1;
    foreach (var question in questions)
    {
        string questionNo = "authQuestion" + @count;
        <label for=@questionNo>@question</label>
        <input id=@questionNo />
    }
}

