
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/login.js"></script>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/img/login-intro-img.png" />
                </div>

                <form class="login100-form validate-form d-flex flex-column justify-content-center">
                    <span class="login100-form-title font-weight-bold">
                        Login Now
                    </span>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text login-input"><i class="fa fa-user"></i></span>
                        </div>
                        <input name="" class="form-control" placeholder="Username" type="text">
                    </div> <!-- Username -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text login-input"><i class="fa fa-lock"></i></span>
                        </div>
                        <input class="form-control" placeholder="Password" type="password">
                    </div> <!-- Password -->


                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"> Login </button>
                    </div> <!-- Submit button -->

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Password?
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="@Url.Action("Register")">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
