USE [master]
GO
/****** Object:  Database [DoctorAppointmentSystem]    Script Date: 06/19/2023 08:27:42 ******/
CREATE DATABASE [DoctorAppointmentSystem] ON  PRIMARY 
( NAME = N'AppointmentSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AppointmentSystem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AppointmentSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AppointmentSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoctorAppointmentSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoctorAppointmentSystem]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENTID] [int] IDENTITY(101,1) NOT NULL,
	[DEPARTMENTNAME] [nvarchar](256) NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY NONCLUSTERED 
(
	[DEPARTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTNAME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (101, N'General Medicine', N'Admin', CAST(0x0000B0260086C066 AS DateTime), N'Admin', CAST(0x0000B0260086C066 AS DateTime), 0)
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTNAME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (102, N'Pediatrics ', N'Admin', CAST(0x0000B0260086C066 AS DateTime), N'Admin', CAST(0x0000B0260086C066 AS DateTime), 0)
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTNAME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (103, N'Surgery', N'Admin', CAST(0x0000B0260086C066 AS DateTime), N'Admin', CAST(0x0000B0260086C066 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
/****** Object:  Table [dbo].[ROLE]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLEID] [int] IDENTITY(1301,1) NOT NULL,
	[ROLENAME] [nvarchar](50) NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY NONCLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON
INSERT [dbo].[ROLE] ([ROLEID], [ROLENAME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (1301, N'Admin', N'Admin', CAST(0x0000B0260086C065 AS DateTime), N'Admin', CAST(0x0000B02600000000 AS DateTime), 0)
INSERT [dbo].[ROLE] ([ROLEID], [ROLENAME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (1302, N'Doctor', N'Admin', CAST(0x0000B0260086C065 AS DateTime), N'Admin', CAST(0x0000B02600000000 AS DateTime), 0)
INSERT [dbo].[ROLE] ([ROLEID], [ROLENAME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (1303, N'Patient', N'Admin', CAST(0x0000B0260086C065 AS DateTime), N'Admin', CAST(0x0000B02600000000 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ROLE] OFF
/****** Object:  Table [dbo].[PRESCRIPTION]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESCRIPTION](
	[PRECRIPTIONID] [int] IDENTITY(1101,1) NOT NULL,
	[DRUG] [nvarchar](256) NOT NULL,
	[NOTE] [nvarchar](256) NULL,
	[PATIENTNAME] [nvarchar](50) NOT NULL,
	[MEDICATIONDAYS] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[UNIT] [nvarchar](50) NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRESCRIPTION] PRIMARY KEY NONCLUSTERED 
(
	[PRECRIPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_PARA]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_PARA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PARAID] [nvarchar](256) NOT NULL,
	[GROUPID] [nvarchar](256) NOT NULL,
	[PARAVAL] [nvarchar](256) NOT NULL,
	[NOTE] [nvarchar](256) NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NULL,
 CONSTRAINT [PK_SYSTEM_PARA] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SYSTEM_PARA] ON
INSERT [dbo].[SYSTEM_PARA] ([ID], [PARAID], [GROUPID], [PARAVAL], [NOTE], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (1, N'M', N'Gender', N'Male', N'Gender is male', N'admin', CAST(0x0000B0260086C068 AS DateTime), N'admin', CAST(0x0000B0260086C068 AS DateTime), 0)
INSERT [dbo].[SYSTEM_PARA] ([ID], [PARAID], [GROUPID], [PARAVAL], [NOTE], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (2, N'F', N'Gender', N'Female', N'Gender is female', N'admin', CAST(0x0000B0260086C068 AS DateTime), N'admin', CAST(0x0000B0260086C068 AS DateTime), 0)
INSERT [dbo].[SYSTEM_PARA] ([ID], [PARAID], [GROUPID], [PARAVAL], [NOTE], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (3, N'O', N'Gender', N'Other', N'Other', N'admin', CAST(0x0000B0260086C068 AS DateTime), N'admin', CAST(0x0000B0260086C068 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SYSTEM_PARA] OFF
/****** Object:  Table [dbo].[LOG]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG](
	[LOGID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTCATG] [varchar](256) NULL,
	[EVENTMSG] [varchar](256) NULL,
	[EVENTSRC] [varchar](256) NULL,
	[EVENTTYPE] [nvarchar](10) NULL,
	[CREATEDBY] [varchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY NONCLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LOG] ON
INSERT [dbo].[LOG] ([LOGID], [EVENTCATG], [EVENTMSG], [EVENTSRC], [EVENTTYPE], [CREATEDBY], [CREATEDDATE]) VALUES (1, N'PATIENT PORTAL', N'Exception: Value cannot be null.', N'IsValidToken', N'S', N'', CAST(0x0000B0260087B921 AS DateTime))
SET IDENTITY_INSERT [dbo].[LOG] OFF
/****** Object:  Table [dbo].[USER]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [int] IDENTITY(1401,1) NOT NULL,
	[ROLEID] [int] NOT NULL,
	[USERNAME] [char](50) NOT NULL,
	[PASSWORDHASH] [char](256) NOT NULL,
	[EMAIL] [char](50) NOT NULL,
	[LASTLOGIN] [datetime] NULL,
	[USERTYPE] [nvarchar](100) NOT NULL,
	[AVATARURL] [nvarchar](256) NULL,
	[PASSWORDRECOVERYQUE1] [int] NULL,
	[PASSWORDRECOVERYQUE2] [int] NULL,
	[PASSWORDRECOVERYQUE3] [int] NULL,
	[PASSWORDRECOVERYANS1] [nvarchar](256) NULL,
	[PASSWORDRECOVERYANS2] [nvarchar](256) NULL,
	[PASSWORDRECOVERYANS3] [nvarchar](256) NULL,
	[STATUS] [bit] NOT NULL,
	[LOGINRETRYCOUNT] [int] NULL,
	[LOGINLOCKDATE] [datetime] NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[USER] 
(
	[ROLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USER] ON
SET IDENTITY_INSERT [dbo].[USER] OFF
/****** Object:  Table [dbo].[PATIENT]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENTID] [int] IDENTITY(1301101,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[PATIENTNAME] [nvarchar](50) NOT NULL,
	[PATIENTNATIONALID] [char](20) NOT NULL,
	[PATIENTGENDER] [int] NOT NULL,
	[PATIENTMOBILENO] [char](10) NOT NULL,
	[PATIENTDATEOFBIRTH] [date] NOT NULL,
	[PATIENTADDRESS] [nvarchar](256) NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PATIENT] PRIMARY KEY NONCLUSTERED 
(
	[PATIENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PATIENTNATIONALID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[PATIENT] 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PATIENT] ON
INSERT [dbo].[PATIENT] ([PATIENTID], [USERID], [PATIENTNAME], [PATIENTNATIONALID], [PATIENTGENDER], [PATIENTMOBILENO], [PATIENTDATEOFBIRTH], [PATIENTADDRESS], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (1301101, 1402, N'Nguyen Van Lan', N'9489058093          ', 1, N'0959843798', CAST(0x03250B00 AS Date), N'Can Tho', N'patient1', CAST(0x0000B02600879194 AS DateTime), N'patient1', CAST(0x0000B02600879194 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[PATIENT] OFF
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTORID] [int] IDENTITY(101101,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[DEPARTMENTID] [int] NOT NULL,
	[DOCTORNAME] [nvarchar](50) NOT NULL,
	[DOCTORNATIONALID] [char](20) NOT NULL,
	[DOCTORGENDER] [int] NOT NULL,
	[DOCTORDATEOFBIRTH] [date] NOT NULL,
	[DOCTORMOBILENO] [char](10) NOT NULL,
	[DOCTORADDRESS] [nvarchar](256) NOT NULL,
	[SPECIALITY] [nvarchar](256) NOT NULL,
	[WORKINGSTARTDATE] [date] NOT NULL,
	[WORKINGENDDATE] [date] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_DOCTOR] PRIMARY KEY NONCLUSTERED 
(
	[DOCTORID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DOCTORNATIONALID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[DOCTOR] 
(
	[DEPARTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_22_FK] ON [dbo].[DOCTOR] 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCTOR] ON
SET IDENTITY_INSERT [dbo].[DOCTOR] OFF
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[SCHEDULEID] [int] IDENTITY(1,1) NOT NULL,
	[DOCTORID] [int] NOT NULL,
	[WORKINGDAY] [date] NOT NULL,
	[SHIFTTIME] [time](7) NOT NULL,
	[BREAKTIME] [time](7) NOT NULL,
	[CONSULTANTTIME] [int] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SCHEDULE] PRIMARY KEY NONCLUSTERED 
(
	[DOCTORID] ASC,
	[SCHEDULEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[SCHEDULE] 
(
	[DOCTORID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SCHEDULE] ON
INSERT [dbo].[SCHEDULE] ([SCHEDULEID], [DOCTORID], [WORKINGDAY], [SHIFTTIME], [BREAKTIME], [CONSULTANTTIME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (1, 101101, CAST(0x87450B00 AS Date), CAST(0x0700D85EAC3A0000 AS Time), CAST(0x07007870335C0000 AS Time), 20, N'admin                                             ', CAST(0x0000B026008A14A5 AS DateTime), N'admin                                             ', CAST(0x0000B026008A14A5 AS DateTime), 0)
INSERT [dbo].[SCHEDULE] ([SCHEDULEID], [DOCTORID], [WORKINGDAY], [SHIFTTIME], [BREAKTIME], [CONSULTANTTIME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (2, 101101, CAST(0x87450B00 AS Date), CAST(0x070048F9F66C0000 AS Time), CAST(0x0700E80A7E8E0000 AS Time), 22, N'admin                                             ', CAST(0x0000B026008A3911 AS DateTime), N'admin                                             ', CAST(0x0000B026008A3911 AS DateTime), 0)
INSERT [dbo].[SCHEDULE] ([SCHEDULEID], [DOCTORID], [WORKINGDAY], [SHIFTTIME], [BREAKTIME], [CONSULTANTTIME], [CREATEDBY], [CREATEDDATE], [UPDATEDBY], [UPDATEDDATE], [DELETEDFLAG]) VALUES (3, 101102, CAST(0x87450B00 AS Date), CAST(0x07000C41DD3E0000 AS Time), CAST(0x0700E03495640000 AS Time), 20, N'admin                                             ', CAST(0x0000B026008A6618 AS DateTime), N'admin                                             ', CAST(0x0000B026008A6618 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SCHEDULE] OFF
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[APPOINTMENTID] [int] IDENTITY(1011,1) NOT NULL,
	[PATIENTID] [int] NOT NULL,
	[DOCTORID] [int] NOT NULL,
	[SCHEDULEID] [int] NOT NULL,
	[CONSULTANTTYPE] [int] NOT NULL,
	[MODEOFCONSULTANT] [int] NOT NULL,
	[DATEOFCONSULTATION] [datetime] NOT NULL,
	[APPOINTMENTDATE] [datetime] NULL,
	[APPOIMENTSTATUS] [nvarchar](256) NOT NULL,
	[CLOSEDDATE] [datetime] NULL,
	[CLOSEDBY] [nvarchar](256) NULL,
	[SYMTOMS] [nvarchar](256) NULL,
	[EXISTINGILLNESS] [nvarchar](256) NULL,
	[DRUGALLERGIES] [nvarchar](256) NULL,
	[NOTE] [nvarchar](256) NULL,
	[CASENOTE] [nvarchar](256) NULL,
	[DIAGNOSIS] [nvarchar](256) NULL,
	[ADVICETOPATIENT] [nvarchar](256) NULL,
	[LABTESTS] [nvarchar](256) NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[DELETEDFLAG] [bit] NOT NULL,
 CONSTRAINT [PK_APPOINTMENT] PRIMARY KEY NONCLUSTERED 
(
	[APPOINTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_13_FK] ON [dbo].[APPOINTMENT] 
(
	[PATIENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_14_FK] ON [dbo].[APPOINTMENT] 
(
	[DOCTORID] ASC,
	[SCHEDULEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENT_NOTE]    Script Date: 06/19/2023 08:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT_NOTE](
	[PRECRIPTIONID] [int] NOT NULL,
	[APPOINTMENTID] [int] NOT NULL,
	[NOTE] [nvarchar](256) NULL,
 CONSTRAINT [PK_APPOINTMENT_NOTE] PRIMARY KEY CLUSTERED 
(
	[PRECRIPTIONID] ASC,
	[APPOINTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_12_FK] ON [dbo].[APPOINTMENT_NOTE] 
(
	[PRECRIPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_15_FK] ON [dbo].[APPOINTMENT_NOTE] 
(
	[APPOINTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_USER_RELATIONS_ROLE]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_RELATIONS_ROLE] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_RELATIONS_ROLE]
GO
/****** Object:  ForeignKey [FK_PATIENT_RELATIONS_USER]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD  CONSTRAINT [FK_PATIENT_RELATIONS_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[PATIENT] CHECK CONSTRAINT [FK_PATIENT_RELATIONS_USER]
GO
/****** Object:  ForeignKey [FK_DOCTOR_RELATIONS_DEPARTME]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_RELATIONS_DEPARTME] FOREIGN KEY([DEPARTMENTID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENTID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_DOCTOR_RELATIONS_DEPARTME]
GO
/****** Object:  ForeignKey [FK_DOCTOR_RELATIONS_USER]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_RELATIONS_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_DOCTOR_RELATIONS_USER]
GO
/****** Object:  ForeignKey [FK_SCHEDULE_RELATIONS_DOCTOR]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_RELATIONS_DOCTOR] FOREIGN KEY([DOCTORID])
REFERENCES [dbo].[DOCTOR] ([DOCTORID])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_RELATIONS_DOCTOR]
GO
/****** Object:  ForeignKey [FK_APPOINTM_RELATIONS_PATIENT]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTM_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTM_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_APPOINTM_RELATIONS_SCHEDULE]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTM_RELATIONS_SCHEDULE] FOREIGN KEY([DOCTORID], [SCHEDULEID])
REFERENCES [dbo].[SCHEDULE] ([DOCTORID], [SCHEDULEID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTM_RELATIONS_SCHEDULE]
GO
/****** Object:  ForeignKey [FK_APPOINTM_RELATIONS_APPOINTM]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[APPOINTMENT_NOTE]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTM_RELATIONS_APPOINTM] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENT] ([APPOINTMENTID])
GO
ALTER TABLE [dbo].[APPOINTMENT_NOTE] CHECK CONSTRAINT [FK_APPOINTM_RELATIONS_APPOINTM]
GO
/****** Object:  ForeignKey [FK_APPOINTM_RELATIONS_PRESCRIP]    Script Date: 06/19/2023 08:27:43 ******/
ALTER TABLE [dbo].[APPOINTMENT_NOTE]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTM_RELATIONS_PRESCRIP] FOREIGN KEY([PRECRIPTIONID])
REFERENCES [dbo].[PRESCRIPTION] ([PRECRIPTIONID])
GO
ALTER TABLE [dbo].[APPOINTMENT_NOTE] CHECK CONSTRAINT [FK_APPOINTM_RELATIONS_PRESCRIP]
GO
