
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <div class="h3 text-danger text-center"> 
        Stop !
        <div class="h5 text-center">You do not have permission to access this feature</div>
    </div>
</body>
</html>
