
@{
    ViewBag.Title = "Patient Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-center mt-2 font-weight-bold">Patient Management</h3>

<hr />

<div class="">
    @* Create patient *@
    <div id="create-patient-page" style=" " class="container justify-content-center  bg-white">
        <div id="error-message"></div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">
                <div class="card-header bg-primary p-0 ">
                    <h4 class="text-center text-light">Create Partient</h4>
                </div>

                <div class="card-body">
                    <form id="form-create-patient" class="form-group">
                        <div class="form-group">
                            <label for="patientname" class="control-label">Patient Name</label>
                            <input type="text" class="form-control" id="patientname" placeholder="Patient name">
                        </div>
                        <div class="form-group">
                            <label for="username" class="control-label">User Name</label>
                            <input type="text" class="form-control" id="username" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <label for="" class="control-label">Gender</label>

                        @Html.DropDownList("Gender", ViewBag.genders as SelectList, new { @class = "form-control mb-3", @id = "gender" })
                        <div class="form-group">
                            <label for="nationalid" class="control-label">National ID</label>
                            <input type="text" class="form-control" id="nationalid" placeholder="National ID">
                        </div>
                        <div class="form-group">
                            <label for="brithofdate" class="control-label">Date of birth</label>
                            <input type="date" class="form-control" id="brithofdate" value="2000-01-01">
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="control-label">Mobile No</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Mobile No">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label">Address</label>
                            <textarea type="date" rows="4" class="form-control" id="address" placeholder="Address"></textarea>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Create">
                            <btn id="btn-close-form" class="btn btn-secondary"> Cancel </btn>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    @* index patient *@
    <div id="list-patient-page" style=" " class="container justify-content-center  bg-white">
        <div class=" container-fluid " style="width: auto">
            <btn id="btn-open-form" class=" btn btn-sm btn-primary mb-3 "> Add Partient </btn> có lỗi sấp xếp
            <div class="row">
                <div class="col-12 card shadow p-3">
                    <table id="PatientTable" class=" dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
                    </table>
                </div>
            </div>

        </div>

    </div>
    @* Update patient *@
<div id="update-patient-page" style=" " class="container justify-content-center  bg-white">
    <div id="error-message-update">

    </div>
    <div class="row  justify-content-center">
        <div class="col-8 card p-0 shadow border border-primary">
            <div class="card-header bg-primary p-0">
                <h4 class="text-center text-light ">Update Partient</h4>
            </div>
            <div class="card-body">

                <form id="form-update-patient" class="form-group">
                    <input type="text" hidden id="upatientid" >
                    <div class="form-group">
                        <label for="upatientname" class="control-label">Patient Name</label>
                        <input type="text" class="form-control" id="upatientname" placeholder="Patient name">
                    </div>
                    <div class="form-group">
                        <label for="uusername" class="control-label">User Name</label>
                        <input type="text" class="form-control" disabled id="uusername" placeholder="User name">
                    </div>

                    <label for="" class="control-label">Gender</label>

                    @Html.DropDownList("ugender", ViewBag.genders as SelectList, new { @class = "form-control mb-3", @id = "ugender" })
                    <div class="form-group">
                        <label for="unationalid" class="control-label">National ID</label>
                        <input type="text" class="form-control" id="unationalid" placeholder="National ID">
                    </div>

                    <div class="form-group">
                        <label for="ubrithofdate" class="control-label">Date of birth</label>
                        <input type="date" class="form-control" id="ubrithofdate" value="2000-01-01">
                    </div>
                    <div class="form-group">
                        <label for="umobile" class="control-label">Mobile No</label>
                        <input type="text" class="form-control" id="umobile" placeholder="Mobile No">
                    </div>
                    <div class="form-group">
                        <label for="uemail" class="control-label">Email</label>
                        <input type="email" class="form-control" id="uemail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="uaddress" class="control-label">Address</label>
                        <textarea type="date" rows="4" class="form-control" id="uaddress" placeholder="Address"></textarea>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Update">
                        <btn id="btn-close-form-update" class="btn btn-secondary">Cancel</btn>
                    </div>
                </form>
                

            </div>
        </div>
    </div>
   
</div>


</div>

@section scripts{

    @Scripts.Render("~/bundles/admin/patient")

}
