
@{
    ViewBag.Title = "Patient Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-center mt-2 font-weight-bold">Patient Management</h3>

<hr />

<div class="">
    @* Create patient *@
    <div id="create-patient-page" style=" " class="container justify-content-center  bg-white">
        <div id="error-message"> </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow">

                <div class="card-header bg-primary ">
                    <h4 class="text-center text-light">Create Partient</h4>
                </div>
                <div class="card-body">
                    <form id="form-create-doctor" class="form-group">
                        <div class="form-group">
                            <label for="patientname" class="control-label">Patient Name</label>
                            <input type="text" class="form-control" id="patientname" placeholder="Patient name">
                        </div>
                        <div class="form-group">
                            <label for="username" class="control-label">User Name</label>
                            <input type="text" class="form-control" id="username" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="nationalid" class="control-label">National ID</label>
                            <input type="text" class="form-control" id="nationalid" placeholder="National ID">
                        </div>

                        <label for="" class="control-label">Gender</label>
                        <div class="form-group form-check">
                            <input class="form-check-input radio-gender" type="radio" name="gender" id="Radios1" value="Male" checked>
                            <label class="form-check-label" for="Radios1">
                                Male
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input radio-gender" type="radio" name="gender" id="Radios2" value="Female">
                            <label class="form-check-label" for="eRadios2">
                                Female
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="brithofdate" class="control-label">Date of birth</label>
                            <input type="date" class="form-control" id="brithofdate" value="2000-01-01">
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="control-label">Mobile No</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Mobile No">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label">Address</label>
                            <textarea type="date" rows="4" class="form-control" id="address" placeholder="Address"></textarea>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Create">
                            <btn id="btn-close-form" class="btn btn-secondary"> Cancel </btn>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    @* index patient *@
    <div id="list-patient-page" style=" " class="container justify-content-center  bg-white">
        <div class=" container-fluid " style="width: auto">
            <btn id="btn-open-form" class=" btn btn-sm btn-primary mb-3 "> Add Partient </btn>
            <div class="row">
                <div class="col-12 card shadow p-3">
                    <table id="PatientTable" class=" dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
                    </table>
                </div>
            </div>

        </div>

    </div>
    @* Update patient *@
    <div id="update-patient-page" style=" " class="container justify-content-center  bg-white">
        <div id="error-message-update">

        </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow">
                <div class="card-header bg-primary">
                    <h4 class="text-center text-light">Update Partient</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>


</div>


<!-- Modal accept delete patient -->
<div class="modal fade" id="accept-delete-patient" tabindex="-1" role="dialog" aria-labelledby="accept-delete-patientTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accept-delete-patientTitle">Delete patient ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You want to delete patient <strong id="patientname-delete"></strong> ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-accept-delete-doctor" data-dismiss="modal" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="messageContent"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/admin/patient")

}
