body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    background-image: url('../../img/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    background-color: #fff;
    min-height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-label {
    margin-bottom: 32px;
}

.input-box {
    position: relative;
    margin: 5px 0 18px;
}

    .input-box input {
        padding: 10px;
        width: 100%;
        border: none;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        height: calc(1em + 20px);
        outline: none;
        font-size: 1em;
        background: inherit;
        color: #333;
    }


    .input-box span {
        background-color: #fff;
        position: absolute;
        left: 0 !important;
        pointer-events: none;
        color: #888;
        transform: translateX(10px) translateY(-9px);
        font-size: 0.72em;
        padding: 0 !important;
    }

    .input-box .form-control {
        padding: 10px;
        margin-top: 10px;
        font-size: 1.2em;
        color: #333;
        border: 1px solid #9c9c9c;
    }

        .input-box .form-control::placeholder {
            font-size: 0.75em;
            padding: 10px 0;
        }

.content-wrapper {
    font-size: 16px;
    line-height: 1.5em;
}

.form-control {
    height: 2.4rem;
    padding: 0.3rem 0.75rem;
}


.info-wrapper {
    border-top: 2px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    margin: 0;
}

form .error {
    margin-left: 0;
}
