.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }

    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }


form, article {
    min-width: 80%;
}

input, select {
    max-width: 100%;
}

.input-group-prepend span {
    min-width: 46px;
}

i {
    margin: 0 auto;
}

.input-group {
    display: inline-flex;
    justify-content: center;
    padding: 0px;
}

.btn-submit {
    min-width: 90%;
}

.card {
    max-width: 80%;
    margin: 0 auto;
}

body {
    height: 100% !important;
}

body {
    background-image: url('../../img/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#register-wrapper {
    min-height: 100%;
}
