
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/admin/appointment")

<h3 class="text-center mt-2 font-weight-bold">Appointments</h3>
<hr />

<div class="content-wrapper">
    @* index  *@

    <div id="list-appointment-page" class="col-12 col-sm-12 col-md-12 p-1" style="margin-bottom: 5em">
        <div class="container-fluid content-wrapper mt-4 table-responsive card shadow pt-3 pb-3">
            <table id="appointment-table" class="dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
            </table>
        </div>
    </div>

    @*  *@
    <div id="appointment-info" style=" " class="container justify-content-center  bg-white">

        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">
                <div class="card-header bg-primary p-0">
                    <h4 class="text-center text-light">Appointment information</h4>
                </div>
                <div class="card-body">
                    <form id="" class="form-group" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/admin/appointment")


}