
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-center mt-2 font-weight-bold">Appointments</h3>

<hr />

<div class="content-wrapper">
    @* index  *@
    <div id="list-appointment-page" style=" " class="container justify-content-center  bg-white">
        <div class="container-fluid " style="width: auto">
            <div class="row">
                <div class="col-12 card shadow p-3">
                    <table id="appointment-table" class="dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">

                    </table>
                </div>
            </div>
        </div>
    </div>
    @*  *@
    <div id="appointment-info" style=" " class="container justify-content-center  bg-white">

        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">
                <div class="card-header bg-primary p-0">
                    <h4 class="text-center text-light">Appointment information</h4>
                </div>
                <div class="card-body">
                    <form id="" class="form-group" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/admin/appointment")


}