
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form .error {
        margin: 0 !important;
    }
</style>

<div class="col-12 col-sm-12 col-md-12 d-flex flex-column justify-content-center align-items-center p-0">
    <!--  -->
    <div id="formChangePassword-Doctor" style=" " class="container-fluid justify-content-center  bg-white p-0 m-0">
        <div id="error-message"> </div>
        <div class="row  justify-content-center m-0">
            <div class="col-12 card p-0 shadow border ">

                <div class="card-header bg-primary p-0 form-header">
                    <h4 class="text-center font-weight-bold m-3">Change Password</h4>
                </div>
                <div class="card-body">
                    <form id="formChangePassword" class="form-group" autocomplete="off">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control paswd-on-off" id="currPass" name="currPass" placeholder="Password (*)" maxlength="50">
                        </div> <!-- Password -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control paswd-on-off" id="newPass" name="newPass" placeholder="New Password (*)" maxlength="50">
                        </div> <!-- new Password -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control paswd-on-off" id="confirmPass" name="confirmPass" placeholder="Confirm Password (*)" maxlength="50">
                        </div> <!-- Confirm Password -->
                        <div class="form-check form-group  input-group">
                            <input type="checkbox" class="form-check-input" id="check-show-password" onclick="showPass()">
                            <label class="form-check-label mt-0 pt-0 h6 text-secondary" for="check-show-password">Show password</label>
                        </div><!-- Check Box Show Password  -->


                        <div class="form-group text-center">
                            <a href="@Url.Action("Index", "Home")" role="button" class="btn btn-secondary mr-2 btnCancel">Cancel</a>
                            <button id="btnSave" type="submit" class="btn btn-primary text-light">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{


    @Scripts.Render("~/bundles/sweetalert/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/doctor/changepassword")

}





