
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Management</h2>

<ul>
    <li> @Html.ActionLink("Doctor Management", "Index", "DoctorManage", new { area = "Admin" }, new { @class = "btn btn-sm btn-primary m-1" })</li>
    <li> @Html.ActionLink("Patient Management", "Index", "PatientManage", new { area = "Admin" }, new { @class = "btn btn-sm btn-primary m-1" })</li>
    <li> @Html.ActionLink("User Management", "Index", "UserManage", new { area = "Admin" }, new { @class = "btn btn-sm btn-primary m-1" })</li>
</ul>