
@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Management </h2>


<div class="row">
    <!-- Status -->
    <article class="col-12">
        <hr class="custom-hr-primary" />
        <h3>Dashboard</h3>

        <div class="custom-status-wrapper d-flex flex-wrap justify-content-center">

            <div class="custom-card">
                <a href="@Url.Action("Index", "DoctorManage", new {area = "Admin"})">
                    <div class="row custom-card-body d-flex flex-wrap justify-content-between align-items-center">
                        <div class="col-8 col-md-8">
                            <p class="h3">@ViewBag.DoctorCount </p>
                            <h5 class="custom-card-title">All Doctors</h5>
                        </div>
                        <span class="col-3 col-md-3 custom-card-icon text-center">
                            <i class="fas fa-users"></i>
                        </span>
                    </div>
                </a>
            </div>

            <div class="custom-card">
                <a href="@Url.Action("Index", "PatientManage", new {area = "Admin"})">
                    <div class="row custom-card-body d-flex flex-wrap justify-content-between align-items-center">
                        <div class="col-8 col-md-8">
                            <p class="h3">@ViewBag.PatientCount</p>
                            <h5 class="custom-card-title">All Patients</h5>
                        </div>
                        <span class="col-3 col-md-3 custom-card-icon text-center">
                            <i class="fas fa-wheelchair"></i>
                        </span>
                    </div>
                </a>
            </div>

            <div class="custom-card">
                <div class="row custom-card-body d-flex flex-wrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p class="h3" >1</p>
                        <h5 class="custom-card-title">New Booking</h5>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="far fa-bookmark"></i>
                    </span>
                </div>
            </div>

            <div class="custom-card">
                <div class="row custom-card-body d-flex flex-wrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p class="h3" >1</p>
                        <h5 class="custom-card-title">Today Sessions</h5>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>
    </article>

</div>



