
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 custom-carousel-img" src="/img/carousel-patient-01.jpg"
                 alt="First slide">
            <div class="custom-carousel-caption carousel-caption d-none d-md-block">
                <h4>Excellent medical team</h4>
                <p class="text-light">
                    "Experts in the field of family medicine, always enjoying taking care of the health of
                    every family member and providing a healthy life."
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 custom-carousel-img" src="/img/carousel-patient-02.jpg"
                 alt="Second slide">
            <div class="custom-carousel-caption carousel-caption d-none d-md-block">
                <h4>High professional level</h4>
                <p class="text-light">
                    "We gather experts in various fields of healthcare both domestically and
                    internationally."
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 custom-carousel-img" src="/img/carousel-patient-03.jpg"
                 alt="Third slide">
            <div class=" custom-carousel-caption carousel-caption d-none d-md-block">
                <h4>Modern infrastructure</h4>
                <p class="text-light">
                    " A hospital equipped with state-of-the-art facilities ready to serve patients 24/7."
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>