
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Content/doctor/appointment/cancelled")
<a class="text-muted ml-2 mb-2 " id="btnGoToDashboard">
    <i class="fa-solid fa-long-arrow-left"></i> <span class="text-weight-light">Back</span>
</a>
<h3 class="text-center mt-2 font-weight-bold">Cancelled Appointments</h3>

<div class="content-wrapper">
    <div id="list-appointment-page" class="col-12 col-sm-12 col-md-12 p-1" style="margin-bottom: 5em">
        <div class="container-fluid content-wrapper mt-4 table-responsive card shadow pt-3 pb-3">
            <table id="appointment-table" class="dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
            </table>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/doctor/appointment/cancelled")

}